:host {
  display: block;
}

main.container-fluid {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.test-results-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
