<h2 mat-dialog-title class="truncate-id">
    {{data.name}}: <span class="id-text">{{data.jobId}}</span>
</h2>

<mat-dialog-content>
    @if (state().inEditMode){
        <app-job-form [job]="data" (jobSubmitted)="onUpdate($event)"></app-job-form>
    }
    @else {
        <div class="form">
            <div class="form-row">
                <div class="form-field">
                    <label>Job Name</label>
                    <p>{{ data.name }}</p>
                </div>
                <div class="form-field">
                    <label>Job Description</label>
                    <p>{{ data.description }}</p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-field">
                    <label>Git URL</label>
                    <p>{{ data.gitUrl }}</p>
                </div>
                <div class="form-field">
                    <label>Job Type</label>
                    <p>{{ data.jobType }}</p>
                </div>
            </div>

            <div class="form-row">
                @if (data.jobType === 'PERF') {
                    <div class="form-field">
                        <label>JMeter Test Name</label>
                        <p>{{ data.jmeterTestName }}</p>
                    </div>
                } @else {
                    <div class="form-field">
                        <label>Run Command</label>
                        <p>{{ data.runCommand }}</p>
                    </div>
                }
                <div class="form-field">
                    <label>Compile Command</label>
                    <p>{{ data.compileCommand }}</p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-field">
                    <label>Passing Threshold</label>
                    <p>0 - {{ data.threshold }} ms</p>
                </div>
            </div>
        </div>
    }
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button class="dialog-btn-cancel" (click)="onCancel()">Cancel</button>
    <button mat-raised-button class="dialog-btn-primary" (click)="toggleEditMode()">
        @if (!state().inEditMode) { Edit } @else { Save }
    </button>
</mat-dialog-actions>
