<article class="panel panel-chart">
    <header class="panel-header">API Performance</header>
    <div class="panel-body">
        <div class="chart-card">
            <div class="chart-header">
                <h3>{{ chartResponse?.title }}</h3>
                <span class="chart-subtitle">Recent Passed and Failed Runs</span>
            </div>

            @if (loading) {
                <div class="chart-loading">
                    Loading chart...
                </div>
            }

            @if (error) {
                <div class="chart-error">
                    {{ error }}
                </div>
            }

            @if (!loading && !error) {
                <div class="chart-container">
                    <canvas #performanceCanvas></canvas>
                </div>
            }

        </div>
    </div>
</article>