<form [formGroup]="jobForm">
    <div class="form-row">
        <mat-form-field>
            <mat-label>Job Name</mat-label>
            <input matInput formControlName="name">
            <mat-error>
                @if (jobForm.get('name')?.errors?.['required']) {
                    <div>Job name is Required</div>
                }
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Job Description</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field>
            <mat-label>Git Url</mat-label>
            <input matInput formControlName="gitUrl">
            <mat-error>
                @if (jobForm.get('gitUrl')?.errors?.['required']) {
                    <div>Git URL</div>
                }
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Job Type</mat-label>
            <mat-select formControlName="jobType">
                <mat-option value="jmeter">JMeter</mat-option>
                <mat-option value="jbehave">JBehave</mat-option>
                <mat-option value="nightwatch">Nightwatch</mat-option>
            </mat-select>
            <mat-error>
                @if (jobForm.get('jobType')?.errors?.['required']) {
                    <div>Job type is Required</div>
                }
            </mat-error>
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field>
            <mat-label>Run Command</mat-label>
            <input matInput formControlName="runCommand">
            <mat-error>
                @if (jobForm.get('runCommand')?.errors?.['required']) {
                    <div>Run Command is Required</div>
                }
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Compile Command</mat-label>
            <input matInput formControlName="compileCommand">
            <mat-error>
                @if (jobForm.get('compileCommand')?.errors?.['required']) {
                    <div>Compile Command is Required</div>
                }
            </mat-error>
        </mat-form-field>
    </div>
</form>